<h1>
  <%= @task.title %>
</h1>

<p>
  <%= @task.description %>
</p>

<%= link_to 'Voltar', tasks_path %>
<%= link_to 'Editar', edit_task_path(@task) %> 
<%= link_to 'Deletar', @task, method: :delete, data: { confirm: 'Tem certeza?' } %>

<h2>Comentários: </h2>
<%= render "comments/comment" %>

<h2> Comente: </h2>
<%= render "comments/form" %>

<!-- <script>
  let comment = document.querySelector('.container #show-comment').innerText;
  
  function edit() {
    document.querySelector('#content_comment textarea').value = comment;
  }
</script> -->
